<div id="map" class="map">
    
</div>
<ion-button (click)="ShowDevices()" expand="block">ShowDevices</ion-button>
<div id="marker" title="Marker"></div>

<!-- Popup -->
<div id="popup" title="Welcome to OpenLayers">
    <a id="popup-closer" class="ol-popup-closer"></a>
</div>


<!--<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<div class="map-container">
    <div class="map-frame">
      <div id="map">
        
      </div>
      <div id="popup" class="ol-popup">
        <a href="" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>


    </div>
<ion-button (click)="getdev()" expand="block">ShowDevices</ion-button>
<ion-button (click)="onMapClick()" expand="block">New</ion-button>  

<div id="frugalmap">
 
</div>


 
  </div>-->